<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link rel="stylesheet" href="assets/css/style.css" type="text/css"/>
        <link rel="stylesheet" href="assets/plugins/bootstrap-3.3.7-dist/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="assets/plugins/bootstrap-3.3.7-dist/css/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="assets/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css" type="text/css"/>





        <title>My Shopping List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="body-Login-background">
        <div class ="navbar mytitle text-center" style="background-color:   #d5e8f8  ">
            <h1 >My Shopping List</h1>
        </div>

        <div class = "col-md-2 col-md-offset-10">
            <a href="#" class="btn btn-lg btn-success btn-block">Add Shopping list</a>    
        </div>

        <div class="container col-sm-3">
            <div class="my-sidebar my-bar-block active">
                <h3 class="text-center">Menu</h3>
                <a href="#" class="my-bar-item my-button">My Shopping Lists</a>
                <a href="#" class="my-bar-item my-button">My Account</a>
                <a href="#" class="my-bar-item my-button">My Contacts</a>
                <a href="#" class="my-bar-item my-button">Settings</a>
            </div>

<!--            <div style="margin-left:25%  style="width:25%">
                ... page content ...
            </div> -->
        </div>
        <div class="container col-sm-9">
            <div class="panel-body mytable">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead style="background-color:   #d5e8f8  ">
                            <tr>
                                <th>Name</th>
                                <th>Due date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX">
                                <td>Monthly Home utilities</td>
                                <td>4/4/2017</td>
                                <td><i class="fa fa-bars" aria-hidden="true"></i>
                                </td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>Office Shopping LIst</td>
                                <td>5/12/2016</td>
                                <td><i class="fa fa-bars" aria-hidden="true"></i>
                                </td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>Christmas shopping list</td>
                                <td>22/12/2016</td>
                                <td><i class="fa fa-bars" aria-hidden="true"></i>
                                </td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>Anne's Baby shower shopping list</td>
                                <td>3/8/2016</td>
                                <td><i class="fa fa-bars" aria-hidden="true"></i>
                                </td>
                            </tr>
                            <tr class="odd gradeX">
                                <td>Ryan's back to school shopping list</td>
                                <td>4/7/2016</td>
                                <td><i class="fa fa-bars" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </body>
</html>
